{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
</head>
<body>
    {{template "response" .Response }}
    <button
        hx-get="/test"
        hx-target="#response"
        hx-swap="outerHTML"
    >Send Request</button>
    {{template "auth" . }}
</body>
</html>
{{end}}

{{ block "auth" . }}
<script>
    htmx.on("htmx:configRequest", (e) => {
        e.detail.headers["AUTH"] = "12345678910"
    })

</script>
{{end}}

{{block "response" . }}
<div id="response">
    {{if .Values}}
        {{.Values}}
    {{end}}
</div>
{{end}}